<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.index') }}">{{ _('Trivialis') }}</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('story.stories') }}">{{ _('Stories') }}</a>
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-translate"></i>
          </a>
          <ul class="dropdown-menu">
            {% for language in languages %}
            <li>
              <a class="dropdown-item" href="?lang={{ language.isoCode }}">
                <span class="fi fi-{{ language.icon }}"></span> {{ language.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% if current_user.is_authenticated %}
        {% if 'Admin' in current_user.roles %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('admin.admin') }}">{{ _('Admin-Panel') }}</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('profile.profile') }}">{{ _('Profile') }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('security.logout')  }}">{{ _fsdomain('Logout') }}</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('security.login') }}">{{ _fsdomain('Login') }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('security.register') }}">{{ _fsdomain('Register') }}</a>
        </li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>